extends layout

block content

    h1= title

    ul
        each champion in lane_jungle
            li 
                a(href=champion.url, class='name') #{champion.name}
    
        else
            p No champions with the lane of Jungle found.