extends layout

block content

    h1= title

    ul
        each champion in role_supports
            li #{champion.name}
    
        else
            p No champions with the role of Supports found.