extends layout

block content

  h1= title

  ul
    each champion in role_fighters
      li 
        a(href=champion.url, class='name') #{champion.name}
    else
        p No champions with the role of Fighters found.
